@import url('https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&display=swap');

$base-size: 12px;

$color-shadow-sub: #9ab2f0;
$color-shadow: #dafac3;
$color-main: #f8f6d1;
$color-text: #1d331d;
$color-bg: #71dce8;
$color-text-error: #dd291c;
$color-text-change: #cc9021;

$font-title: 'Pacifico', cursive;
$font-text: 'Itim', cursive;

$main-spacing: 12px;
