@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.logo {
  color: $color-text;
  font-family: $font-title;
  text-decoration: none;
  font-size: 35px;
  display: flex;
}
